<nav>
    <div class="nav-wrapper">
        <div class="col s10">
      <a href="/" class="brand-logo">Book Exchange</a>
      <a href="#" data-target="mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/books">Books</a></li>
        <li><a href="/createRequests">create requests</a></li>
       <li class="dropdown">
        <% if(user){ %>
        <a class=" dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= user.username %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/userInfo">Profile</a>
          <a class="dropdown-item" href="/editInfo">Edit Profile</a>
          <a class="dropdown-item" href="/books/my">My Books</a>
          <a class="dropdown-item" href="/logout">Logout</a>
        </div>
        <% } else{ %>
         <a href="/auth/github"><i class="fab fa-github"></i>login</a>
         <% } %>
        </li>
        
        
      </ul>
      </div>
    </div>
  </nav>

    <ul class="sidenav" id="mobile">
   <li><a href="/books">Books</a></li>
    <li><a href="/createRequests">create requests</a></li>

        <% if(user){ %>
       
          <li><a class="dropdown-item" href="/userInfo">Profile</a></li>
          <li><a class="dropdown-item" href="/editInfo">Edit Profile</a></li>
          <li><a class="dropdown-item" href="/books/my">My Books</a></li>
          <li><a class="dropdown-item" href="/logout">Logout</a></li>
      
        <% } else{ %>
        <li> <a href="/auth/github"><i class="fab fa-github"></i>login</a></li>
         <% } %>
        
        
  </ul>
  <script>
$(document).ready(function(){
    $('.sidenav').sidenav();
  });
  </script>