*{
    padding:0;
    border:0;
    margin:0;
 
}

.nav-wrapper div a:hover,.nav-mobile li a:hover{
    text-decoration: none;
    color:#fff;

}
div .dropdown-menu{
    width:80px
}
.dropdown-menu a:hover{
    color:#000!important
}
.card-title h3{
    font-size:36px;
}

.waves-effect{
    text-decoration:none;
}

label strong{
    font-size: 20px;
}
.card-action a{
    text-decoration: none;
}